
.App {
  --fontOpenSans: "Open Sans";
  font-family: var(--fontOpenSans);
  text-align: center;
}

.direction-block{
  &__title{
    color: #151515;
    font-size: 16px;
  }

  &__list{
    ul{
      list-style: none;
      margin-bottom: 0;
      padding-left: 1em;
      li{
        a{
          color: #083759;
          display: block;
          background-color: #F2F4F8;
          padding: 5px 12px;
          border-radius: 36px;
          font-size: 14px;
          font-weight: 600;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}
